<%= simple_form_for([:admin, @cuisine]) do |f| %>
    <table class="table">
      <tr>
        <td>Cuisine Name:</td>
        <td><%= f.input_field :name, label: false, class: 'span10' %></td>
      </tr>
      <tr>
        <td>Active:</td>
        <td><%= f.check_box :active, label: false %></td>
      </tr>
      <tr>
        <td></td>
        <td><%= f.button :submit, class: 'btn btn-primary btn-small' %> <%= link_to 'Cancel', :back, class: 'btn btn-small btn-default' %></td>
      </tr>
    </table>


<% end %>
