<h3>Listing features</h3>

<table>
  <tr>
    <th>Name</th>
    <th>Active</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @features.each do |feature| %>
  <tr>
    <td><%= feature.name %></td>
    <td><%= feature.active %></td>
    <td><%= link_to 'Show', admin_feature_path(feature) %></td>
    <td><%= link_to 'Edit', edit_admin_feature_path(feature) %></td>
    <td><%= link_to 'Destroy', admin_feature_path(feature), method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Feature', new_admin_feature_path %>
