<%= simple_form_for([:admin, @event], html: {multipart: true, class: "form-horizontal"}) do |f| %>
    <table class="table">
      <tr>
        <td colspan="2"> <%= f.error_notification %></td>
      </tr>
      <tr>
        <td>Title: </td>
        <td><%= f.input_field :title, label: false, class: 'span10' %></td>
      </tr>
      <tr>
        <td>Details: </td>
        <td><%= f.text_area :details, label: false, :class => "tinymce"  %></td>
      </tr>
      <tr>
        <td>Event Image: </td>
        <td><%= f.file_field :event_image, label: false  %></td>
      </tr>
      <tr>
        <td valign="top">Remove Current Image:</td>
        <td><%= f.check_box :remove_event_image %></td>
      </tr>
      <tr>
        <td>Venue: </td>
        <td><%= f.input_field :venue, label: false, class: 'span10'  %></td>
      </tr>
      <tr>
        <td>Price: </td>
        <td><%= f.input :price, label: false  %></td>
      </tr>
      <tr>
        <td>Address: </td>
        <td><%= f.input_field :address, label: false, class: 'span10'  %></td>
      </tr>
      <tr>
        <td>Phone: </td>
        <td><%= f.input_field :phone, label: false  %></td>
      </tr>
      <tr>
        <td>Website: </td>
        <td><%= f.input_field :website, label: false, class: 'span10'  %></td>
      </tr>
      <tr>
        <td>Areas: </td>
        <td><%= f.association :areas, label: false %></td>
      </tr>
      <tr>
        <td>Types: </td>
        <td><%= f.association :types, label: false %></td>
      </tr>
      <tr>
        <td colspan="2"><%= f.button :submit, class: 'btn btn-success' %> <%= link_to 'Cancel', :back, class: 'btn btn-small btn-default' %></td>
      </tr>
    </table>

<% end %>
<%= tinymce %>