<%= simple_form_for([:admin, @event], html: {multipart: true, class: "form-horizontal"}) do |f| %>
    <p><%= f.error_notification %></p>
    <table>
      <tr>
        <td>Title: </td>
        <td><%= f.input :title, label: false %></td>
      </tr>
      <tr>
        <td>Details: </td>
        <td><%= f.input :details, label: false %></td>
      </tr>
      <tr>
        <td>Event Image: </td>
        <td><%= f.file_field :event_image, label: false  %></td>
      </tr>
      <tr>
        <td valign="top">Remove Current Image:</td>
        <td><%= f.check_box :remove_event_image %></td>
      </tr>
      <tr>
        <td>Venue: </td>
        <td><%= f.input :venue, label: false  %></td>
      </tr>
      <tr>
        <td>Prices: </td>
        <td><%= f.input :price, label: false  %></td>
      </tr>
      <tr>
        <td>Address: </td>
        <td><%= f.input :address, label: false  %></td>
      </tr>
      <tr>
        <td>Phone: </td>
        <td><%= f.input :phone, label: false  %></td>
      </tr>
      <tr>
        <td>Website: </td>
        <td><%= f.input :website, label: false  %></td>
      </tr>
      <tr>
        <td>Areas: </td>
        <td><%= f.association :areas, label: false %></td>
      </tr>
      <tr>
        <td>Types: </td>
        <td><%= f.association :types, label: false %></td>
      </tr>
      <tr>
        <td colspan="2"><%= f.button :submit, class: 'btn btn-success' %></td>
      </tr>
    </table>

<% end %>
