<%= simple_form_for([:admin, @dynamic_content]) do |f| %>
    <table>
      <tr>
        <td colspan="2"><%= f.error_notification %></td>
      </tr>
      <tr>
        <td>Title:</td>
        <td><%= f.input :title, label: false %></td>
      </tr>
      <tr>
        <td>Key:</td>
        <td><%= f.input :key, label: false %></td>
      </tr>
      <tr>
        <td valign="top">Value:</td>
        <td><%= f.input :value, label: false %></td>
      </tr>
      <tr>
        <td colspan="2"><%= f.button :submit, class: 'btn btn-success' %> <%= link_to 'Cancel', :back, class: 'btn btn-small btn-default' %></td>
      </tr>
    </table>
<% end %>
