<%= simple_form_for([:admin, @attraction], html: {multipart: true, class: "form-horizontal"}) do |f| %>
    <table width="100%" class="table">
      <tr>
        <td colspan="2"> <%= f.error_notification %></td>
      </tr>
      <tr>
        <td>Title:</td>
        <td><%= f.input_field :title, label: false, class: 'span10' %></td>
      </tr>
      <tr>
        <td valign="top">Description:</td>
        <td><%= f.text_area :description, :class => "tinymce" %></td>
      </tr>
      <tr>
        <td valign="top">Image:</td>
        <td><%= f.file_field :attraction_image, label: false  %></td>
      </tr>
      <tr>
        <td valign="top">Remove Current Image:</td>
        <td><%= f.check_box :remove_attraction_image %></td>
      </tr>
      <tr>
        <td valign="top">Address:</td>
        <td><%= f.input_field :address, label: false, class: 'span10'  %></td>
      </tr>
      <tr>
        <td valign="top">Phone:</td>
        <td><%= f.input_field :phone, label: false  %></td>
      </tr>
      <tr>
        <td valign="top">Website:</td>
        <td><%= f.input_field :website, label: false, class: 'span10'  %></td>
      </tr>
      <tr>
        <td valign="top">Areas:</td>
        <td><%= f.association :areas, label: false %></td>
      </tr>
      <tr>
        <td valign="top">Types:</td>
        <td><%= f.association :types, label: false %></td>
      </tr>
      <tr>
        <td valign="top" colspan="2"><%= f.button :submit, class: 'btn btn-success' %> <%= link_to 'Cancel', :back, class: 'btn btn-small btn-default' %></td>
      </tr>
    </table>
<% end %>
<%= tinymce %>