<h2>Listing attractions</h2>

<table class="table">
  <tr>
    <th>Attraction image</th>
    <th>Title</th>
    <th>Description</th>
    <th>Address</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @attractions.each do |attraction| %>
  <tr>
    <td><%= image_tag attraction.attraction_image.url(:thumb).to_s, class: 'thumbnail' %></td>
    <td><%= attraction.title %></td>
    <td><%= attraction.description %></td>
    <td><%= attraction.address %></td>
    <td><%= attraction.area_id %></td>
    <td><%= link_to 'Show', admin_attraction_path(attraction) %></td>
    <td><%= link_to 'Edit', edit_admin_attraction_path(attraction) %></td>
    <td><%= link_to 'Destroy', admin_attraction_path(attraction), method: :delete, data: { confirm: 'Are you sure you want toe delete this attraction?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Attraction', new_admin_attraction_path %>
