<p id="notice"><%= notice %></p>

<div class="row-fluid itemtitle"><%= @attraction.title %></div>

<div class="row-fluid"><%= image_tag @attraction.attraction_image.url(:main).to_s, class: 'thumbnail' %></div>
<div class="row-fluid"><%= @attraction.areas.map{|area| area.name}.join(",") %></div>
<div class="row-fluid"><%= link_to(@attraction.address, "http://maps.google.com/maps?q=#{@attraction.address}") %></div>
<div class="row-fluid"><%= @attraction.phone %></div>
<div class="row-fluid"><%= link_to(@attraction.website, @attraction.website) if !@attraction.website.empty? %></div>
<hr>
<div class="row-fluid"><%= raw(@attraction.description) %></div>