<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @attraction.title %>
</p>

<p>
  <b>Description:</b>
  <%= @attraction.description %>
</p>

<p>
  <b>Attraction image:</b>
  <%= @attraction.attraction_image %>
</p>

<p>
  <b>Address:</b>
  <%= @attraction.address %>
</p>

<p>
  <b>Phone:</b>
  <%= @attraction.phone %>
</p>

<p>
  <b>Website:</b>
  <%= @attraction.website %>
</p>

<p>
  <b>Area:</b>
  <%= @attraction.area_id %>
</p>