<%= simple_form_for([:admin, @restaurant], html: {multipart: true, class: "form-horizontal"}) do |f| %>
    <table class="table">
      <tr>
        <td>Title:</td>
        <td><%= f.input_field :title, label: false, class: 'form-control' %></td>
      </tr>
      <tr>
        <td valign="top">Description:</td>
        <td><%= f.input_field :description, label: false %></td>
      </tr>
      <tr>
        <td valign="top">Image:</td>
        <td><%= f.file_field :restaurant_image, label: false %></td>
      </tr>
      <tr>
        <td valign="top">Remove Current Image:</td>
        <td><%= f.check_box :remove_restaurant_image %></td>
      </tr>
      <tr>
        <td valign="top">Address:</td>
        <td><%= f.input_field :address, label: false %></td>
      </tr>
      <tr>
        <td valign="top">Phone:</td>
        <td><%= f.input_field :phone, label: false %></td>
      </tr>
      <tr>
        <td valign="top">Website:</td>
        <td><%= f.input_field :website, label: false %></td>
      </tr>
      <tr>
        <td valign="top">Areas:</td>
        <td><%= f.association :areas, label: false %></td>
      </tr>
      <tr>
        <td valign="top">Cuisine:</td>
        <td><%= f.association :cuisines, label: false %></td>
      </tr>
      <tr>
        <td valign="top">Features:</td>
        <td><%= f.association :features, label: false %></td>
      </tr>
      <tr>
        <td valign="top">Price:</td>
        <td><%= f.association :price, label_method: :value, label: false, as: :radio_buttons  %></td>
      </tr>
      <tr>
        <td valign="top">Featured Restaurant?:</td>
        <td><%= f.input :featured_restaurant, as: :radio, label: false %></td>
      </tr>
      <tr>
        <td valign="top"><%= f.button :submit, class: 'btn btn-success' %> <%= link_to 'Cancel', :back, class: 'btn btn-small btn-default' %></td>
        <td></td>
      </tr>
    </table>
<% end %>
