<h2>Dining</h2>

<% @restaurants.each do |restaurant| %>
    <div class="row-fluid individualitem">
      <div class="span10">
    <div class="row-fluid itemtitle"><%= link_to restaurant.title, restaurant %></div>

    <div class="row-fluid">
      <% if !restaurant.areas.empty? %>
      <% restaurant.areas.each do |area| %>
      <%= area.name %>
      <% end %>
      <% end %>
    </div>
    <div class="row-fluid">
      <% if !restaurant.cuisines.empty? %>
      <% restaurant.cuisines.each do |cuisine| %>
      <strong><%= cuisine.name %></strong>
      <% end %>
      <% end %>
    </div>
    <div class="row-fluid"><%= raw(restaurant.description) %></div>
      </div>
      <div class="span2">
        <%= link_to image_tag(restaurant.restaurant_image.url(:thumb).to_s, class: 'thumbnail'), restaurant %>
      </div>
    </div>
    <hr>
<% end %>




<div class="row-fluid individualitem">
  <div class="span10">
    <div class="row-fluid itemtitle"><a href="diningdetails.php?id=7">  Restaurant Title 1</a></div>
    <div class="row-fluid">Allen / Frisco / Plano</div>
    <div class="row-fluid"><strong>New American</strong></div>
    <div class="row-fluid"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut in lacus rhoncus elit egestas luctus. Nullam at lectus augue. Ut tristique  </div>
  </div>
  <div class="span2"><a href="diningdetails.php?id=7"><img src="uploaded/1365591009.jpg" class="thumbnail" alt=" Restaurant Title 1" border="0" width="500" height="375"></a></div>
</div>



<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Restaurant image</th>
    <th>Address</th>
    <th>Phone</th>
    <th>Website</th>
    <th>Area</th>
    <th>Cuisine</th>
    <th>Feature</th>
    <th>Price</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @restaurants.each do |restaurant| %>
  <tr>
    <td><%= restaurant.title %></td>
    <td><%= restaurant.description %></td>
    <td><%= image_tag restaurant.restaurant_image.url(:thumb).to_s %></td>
    <td><%= restaurant.address %></td>
    <td><%= restaurant.phone %></td>
    <td><%= restaurant.website %></td>
    <td><%= restaurant.area_id %></td>
    <td><%= restaurant.cuisine_id %></td>
    <td><%= restaurant.feature_id %></td>
    <td><%= restaurant.price_id %></td>
    <td><%= link_to 'Show', restaurant %></td>
    <td><%= link_to 'Edit', edit_admin_restaurant_path(restaurant) %></td>
    <td><%= link_to 'Destroy', restaurant, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Restaurant', new_admin_restaurant_path %>
