<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @restaurant.title %>
</p>

<p>
  <b>Description:</b>
  <%= @restaurant.description %>
</p>

<p>
  <b>Restaurant image:</b>
  <%= image_tag @restaurant.restaurant_image.url(:main).to_s %>
</p>

<p>
  <b>Address:</b>
  <%= @restaurant.address %>
</p>

<p>
  <b>Phone:</b>
  <%= @restaurant.phone %>
</p>

<p>
  <b>Website:</b>
  <%= link_to @restaurant.website, @restaurant.website %>
</p>

<p>
  <b>Area:</b>
  <%= @restaurant.areas %>
</p>

<p>
  <b>Cuisine:</b>
  <%= @restaurant.cuisines %>
</p>

<p>
  <b>Feature:</b>
  <%= @restaurant.features %>
</p>

<p>
  <b>Price:</b>
  <%= @restaurant.price.value %>
</p>


<%= link_to 'Edit', edit_admin_restaurant_path(@restaurant) %> |
<%= link_to 'Back', admin_restaurants_path %>
