<p id="notice"><%= notice %></p>
<table class="table">
  <tr>
    <td>Title: </td>
    <td><%= @restaurant.title %></td>
  </tr>
  <tr>
    <td>Description: </td>
    <td><%= sanitize @restaurant.description %></td>
  </tr>
  <tr>
  <td>Image: </td>
  <td><%= image_tag @restaurant.restaurant_image.url(:main).to_s, class: 'thumbnail' %></td>
</tr>
  <tr>
  <td>Address: </td>
  <td><%= @restaurant.address %></td>
</tr>
  <tr>
    <td>Phone: </td>
    <td><%= @restaurant.phone %></td>
  </tr>
  <tr>
    <td>Website: </td>
    <td><%= link_to @restaurant.website, @restaurant.website %></td>
  </tr>
  <tr>
    <td>Area: </td>
    <td>
      <% if !@restaurant.areas.empty? %>
          <%= @restaurant.areas.map{|area| area.name}.join(", ") %>
      <% end %>
    </td>
  </tr>
  <tr>
    <td>Cuisine: </td>
    <td><% if !@restaurant.cuisines.empty? %>
          <%= @restaurant.cuisines.map{|cuisine| cuisine.name}.join(", ") %>
      <% end %></td>
  </tr>
  <tr>
    <td>Features: </td>
    <td>
      <% if !@restaurant.features.empty? %>
          <%= @restaurant.features.map{|feature| feature.name}.join(", ") %>
      <% end %>
    </td>
  </tr>
  <tr>
    <td>Price: </td>
    <td><%= @restaurant.price.value %></td>
  </tr>
  <tr>
    <td>Featured Restaurant: </td>
    <td><%= @restaurant.featured_restaurant %></td>
  </tr>
</table>



<%= link_to 'Edit', edit_admin_restaurant_path(@restaurant), class: 'btn btn-small btn-warning'  %>
<%= link_to 'Back', admin_restaurants_path, class: 'btn btn-small btn-danger' %>
