<section id="breadcrumbs" class="container">
  <div class="row-fluid">
    <div class="span12">
      <ul class="breadcrumb">
        <li><%= link_to 'Home', root_path %> <span class="divider">>></span></li>
        <li><%= link_to 'Events', events_path %> <span class="divider">>></span></li>
        <li class="active"><%= @event.title %></li>
      </ul>
    </div>
  </div>
</section>

<section class="container">
  <div class="row-fluid">
    <div class="span3">
      <div class="row-fluid">
        <%= image_tag @event.event_image.url(:main).to_s, class: 'thumbnail' %>
      </div>

    </div>



    <div class="span6">
      <div class="span12">
        <div class="row-fluid itemtitle"><%= @event.title %></div>

        <div class="row-fluid"><%= @event.areas.map{|area| area.name}.join(", ") %></div>
        <div class="row-fluid"><%= link_to(@event.address, "http://maps.google.com/maps?q=#{@event.address}") %></div>
        <div class="row-fluid"><%= @event.phone %></div>
        <div class="row-fluid"><%= link_to(@event.website, @event.website) if !@event.website.empty? %></div>
        <hr>
        <div class="row-fluid"><%= raw(@event.details) %></div>

      </div>
    </div>


    <div class="span3">

      <div class="row-fluid">
        <span class='st_facebook_large' displayText='Facebook'></span>
        <span class='st_twitter_large' displayText='Tweet'></span>
        <span class='st_pinterest_large' displayText='Pinterest'></span>
        <span class='st_googleplus_large' displayText='Google +'></span>
        <span class='st_email_large' displayText='Email'></span>
        <span class='st_sharethis_large' displayText='ShareThis'></span></div>
      <hr>

      <div class="row-fluid">


      </div>

    </div>
  </div>
</section>
<br/>