<section id="breadcrumbs" class="container">
  <div class="row-fluid">
    <div class="span12">
      <ul class="breadcrumb">
        <li><%= link_to 'Home', root_path %> <span class="divider">>></span></li>
        <li><%= link_to 'Deals', deals_path %> <span class="divider">>></span></li>
        <li class="active"><%= @deal.title %></li>
      </ul>
    </div>
  </div>
</section>

<section class="container">
  <div class="row-fluid">
    <div class="span3">
      <div class="row-fluid">
        <%= image_tag @deal.deal_image.url(:main).to_s, class: 'thumbnail' %>
      </div>

    </div>



    <div class="span6">
      <div class="span12">
        <div class="row-fluid itemtitle"><%= @deal.title %></div>

        <div class="row-fluid"><%= @deal.areas.map{|area| area.name}.join(",") %></div>
        <hr>
        <div class="row-fluid"><%= raw(@deal.details) %></div>

      </div>
    </div>


    <div class="span3">

      <div class="row-fluid">
        <span class='st_facebook_large' displayText='Facebook'></span>
        <span class='st_twitter_large' displayText='Tweet'></span>
        <span class='st_pinterest_large' displayText='Pinterest'></span>
        <span class='st_googleplus_large' displayText='Google +'></span>
        <span class='st_email_large' displayText='Email'></span>
        <span class='st_sharethis_large' displayText='ShareThis'></span></div>
      <hr>

      <div class="row-fluid">


      </div>

    </div>
  </div>
</section>