<h2>Areas</h2>

<table class="table">
  <tr>
    <th>Name</th>
    <th>Active</th>
    <th></th>
    <th></th>
  </tr>

<% @areas.each do |area| %>
  <tr>
    <td><%= area.name %></td>
    <td><%= area.active %></td>
    <td></td>
    <td align="right"><%= link_to 'Edit', edit_admin_area_path(area), class: 'btn btn-small btn-warning' %> <%= link_to 'Delete', admin_area_path(area), method: :delete, data: { confirm: 'Are you sure you want to delete this area?' }, class: 'btn btn-small btn-danger' %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Area', new_admin_area_path, class: 'btn btn-small btn-success' %>
