<h2>Dining</h2>

<% @restaurants.each do |restaurant| %>
    <div class="row-fluid individualitem">
      <div class="span10">
    <div class="row-fluid itemtitle"><%= link_to restaurant.title, restaurant %></div>

    <div class="row-fluid">
      <% if !restaurant.areas.empty? %>
              <%= restaurant.areas.map{|area| area.name}.join(",") %>
      <% end %>
    </div>
    <div class="row-fluid">
      <% if !restaurant.cuisines.empty? %>
      <% restaurant.cuisines.each do |cuisine| %>
      <strong><%= cuisine.name %></strong>
      <% end %>
      <% end %>
    </div>
    <div class="row-fluid"><%= truncate(raw(restaurant.description), length: 150) %></div>
      </div>
      <div class="span2">
        <%= link_to image_tag(restaurant.restaurant_image.url(:thumb).to_s, class: 'thumbnail'), restaurant %>
      </div>
    </div>
    <hr>
<% end %>
