<!--footer menu-->
<section id="footer-menu">
  <div class="container">
    <div class="row">
      <div class="span8 hidden-phone">
        <ul>
          <li><%= link_to 'Home', root_path %></li>
          <li><%= link_to 'Dining', restaurants_path %></li>
          <li><%= link_to 'Attractions', attractions_path %></li>
          <li><%= link_to 'Events', events_path %></li>
          <li><%= link_to 'Deals', deals_path %></li>
          <li><%= link_to 'Concierge', new_contact_path %></li>
        </ul>
      </div>
      <div class="span4"><span class="pull-right"><%= @footer_copyright %></span></div>
    </div>
  </div>
</section>