<!--footer-->
<footer id="footer">
  <div class="container">
    <div class="row">
      <div class="span4">
        <h3>Social Media</h3>
        <p>Connect with us via one of our social media profiles.</p>
        <div id="social" class="pull-left">
          <!--<div id="vimeo"> <a href="#" id="vimeo_img">Vimeo</a></div>-->
          <div id="lin"> <a href="#" id="lin_img">Linkedin</a></div>
          <div id="rss"> <a href="#" id="rss_img">Rss</a></div>
          <div id="gplus"> <a href="#" id="gplus_img">Google plus</a></div>
          <div id="twitter"> <a href="#" id="twitter_img">Twitter</a></div>
          <div id="facebook"> <a href="#" id="facebook_img">Facebook</a></div>

        </div>
      </div>
      <!--<div class="span3">
          <h3>Flickr Photos</h3>
          <ul class="flickr clearfix"></ul>
      </div>-->
      <div class="span4">
       <%= render 'layouts/structure/footer-city-guide' %>
      </div>
      <div class="span4">
        <h3>Address</h3>
        <address>
          <%= strip_tags(@site_name) %><br>
          <%= strip_tags(@site_city) %>, <%= strip_tags(@site_state) %><br>
          <i class="myicon-phone"></i><%= strip_tags(@site_phone) %><br>
          <i class="myicon-mail"></i><%= mail_to "#{strip_tags(@site_email)}", "#{strip_tags(@site_email)}" %>
        </address>
        <%= strip_tags(@site_description) %>
      </div>
    </div>
  </div>
</footer>

