<!--footer menu-->
<section id="footer-menu">
  <div class="container">
    <div class="row">
      <div class="span8 hidden-phone">
        <ul>
          <li><%= link_to 'Home', root_path %></li>
          <li><%= link_to 'Dining', root_path %></li>
          <li><%= link_to 'Attractions', root_path %></li>
          <li><%= link_to 'Deals', root_path %></li>
          <li><%= link_to 'Maps', root_path %></li>
          <li><%= link_to 'Conventioneer', root_path %></li>
          <li><%= link_to 'About Us', root_path %></li>
          <li><%= link_to 'Contact Us', root_path %></li>
        </ul>
      </div>
      <p class="span4"><span class="pull-right">Copyright &copy;2014 TicketToTheCity.com</span></p>
    </div>
  </div>
</section>