<!--footer-->
<footer id="footer">
  <div class="container">
    <div class="row">
      <div class="span4">
        <h3>Social Media</h3>
        <p>Connect with us via one of our social media profiles.</p>
        <div id="social" class="pull-left">
          <!--<div id="vimeo"> <a href="#" id="vimeo_img">Vimeo</a></div>-->
          <div id="lin"> <a href="#" id="lin_img">Linkedin</a></div>
          <div id="rss"> <a href="#" id="rss_img">Rss</a></div>
          <div id="gplus"> <a href="#" id="gplus_img">Google plus</a></div>
          <div id="twitter"> <a href="#" id="twitter_img">Twitter</a></div>
          <div id="facebook"> <a href="#" id="facebook_img">Facebook</a></div>

        </div>
      </div>
      <!--<div class="span3">
          <h3>Flickr Photos</h3>
          <ul class="flickr clearfix"></ul>
      </div>-->
      <div class="span4">
        <h3>Contact Us</h3>
        <form id="contact" class="form-horizontal" method="post">
          <div class="control-group">
            <label class="control-label" for="inputName">Name</label>
            <div class="controls">
              <input type="text" id="inputName" placeholder="Name" name="inputName">
              <label class="ferror" for="inputName" id="fname_error">Name is required.</label>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="inputEmail">Email</label>
            <div class="controls">
              <input type="text" id="inputEmail" placeholder="Email Address" name="inputEmail">
              <label class="ferror" for="inputEmail" id="femail_error">Email is required.</label>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="inputMessage"></label>
            <div class="controls">

            </div>
          </div>
          <div class="submit-div">
            <input type="submit" class="btn pull-right footer-button" value="SUBMIT!">
          </div>
        </form>
      </div>
      <div class="span4">
        <h3>Address</h3>
        <address>
          <%= strip_tags(@site_name) %><br>
          <%= strip_tags(@site_city) %>, <%= strip_tags(@site_state) %><br>
          <i class="myicon-phone"></i><%= strip_tags(@site_phone) %><br>
          <i class="myicon-mail"></i><%= mail_to "#{strip_tags(@site_email)}", "#{strip_tags(@site_email)}" %>
        </address>
        <%= strip_tags(@site_description) %>
      </div>
    </div>
  </div>
</footer>

