<section id="container">
  <div class="container">
    <div class="row our-blog">
      <div class="title-divider span12">
        <div class="divider-arrow"></div>
        <h3>Popular Restaurants</h3>
      </div>

      <% @home_featured_restaurants.each do |restaurant| %>
      <article class="span3">
        <%= link_to image_tag(restaurant.restaurant_image), restaurant %>
        <p class="l-meta"><span><% if !restaurant.areas.empty? %>
              <%= link_to restaurant.areas.map{|area| area.name}.join(", "), restaurant %>
      <% end %></span></p>
        <h4 class="title"><%= link_to restaurant.title, restaurant %></h4>
        <p><%= sanitize restaurant.description.truncate(150) %> <%= link_to 'Read more', restaurant %></p>
      </article>
      <% end %>

    </div>
  </div>
</section>