<ul>
  <li><%= link_to 'Home', root_path, class: cp(root_path) %></li>
  <li><%= link_to 'Dining', restaurants_path, class: cp(restaurants_path) %></li>
  <li><%= link_to 'Attractions', attractions_path, class: cp(attractions_path) %></li>
  <li><%= link_to 'Events', '#', class: cp('#') %></li>
  <li><%= link_to 'Deals', '#', class: cp('#') %></li>
  <li><%= link_to 'Conventioneer', '#', class: cp('#') %></li>
</ul>