<!DOCTYPE html>
<html>
<head>
  <title>Ticket To The City</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=100%; initial-scale=1; maximum-scale=1; minimum-scale=1; user-scalable=no;" />
  <link rel="icon" href="https://s3.amazonaws.com/tickettothecity/images/favicon.png" type="image/png">
  <link rel="shortcut icon" href="https://s3.amazonaws.com/tickettothecity/images/favicon.png" type="image/png" />
  <%= stylesheet_link_tag    "application" %>
  <!--Le CSS-->
  <link href="https://s3.amazonaws.com/tickettothecity/css/bootstrap.css" type="text/css" rel="stylesheet"/>
  <link href="https://s3.amazonaws.com/tickettothecity/css/style.css" type="text/css" rel="stylesheet"/>
  <link href="https://s3.amazonaws.com/tickettothecity/css/prettyPhoto.css" type="text/css" rel="stylesheet"/>
  <%= javascript_include_tag "application" %>
  <script src="//tinymce.cachefly.net/4.0/tinymce.min.js"></script>
  <script>
      tinymce.init({
          selector:'textarea',
          plugins: [
              "advlist autolink link lists charmap print preview hr anchor pagebreak spellchecker",
              "searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking",
              "save table contextmenu directionality emoticons template paste textcolor"
          ]
      });
  </script>
  <!--Le Java Script-->
  <script type="text/javascript" src="https://s3.amazonaws.com/tickettothecity/js/jquery.min.js"></script>
  <script type="text/javascript" src="https://s3.amazonaws.com/tickettothecity/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="https://s3.amazonaws.com/tickettothecity/js/jquery.easing.1.3.js"></script>
  <script type="text/javascript" src="https://s3.amazonaws.com/tickettothecity/js/jquery.quicksand.js"></script>
  <script type="text/javascript" src="https://s3.amazonaws.com/tickettothecity/js/superfish.js"></script>
  <script type="text/javascript" src="https://s3.amazonaws.com/tickettothecity/js/hoverIntent.js"></script>
  <script type="text/javascript" src="https://s3.amazonaws.com/tickettothecity/js/jquery.hoverdir.js"></script>
  <script type="text/javascript" src="https://s3.amazonaws.com/tickettothecity/js/jquery.flexslider.js"></script>
  <script type="text/javascript" src="https://s3.amazonaws.com/tickettothecity/js/jflickrfeed.min.js"></script>
  <script type="text/javascript" src="https://s3.amazonaws.com/tickettothecity/js/jquery.prettyPhoto.js"></script>
  <script type="text/javascript" src="https://s3.amazonaws.com/tickettothecity/js/smoothscroll.js"></script>
  <script type="text/javascript" src="https://s3.amazonaws.com/tickettothecity/js/jquery.ui.totop.js"></script>
  <script type="text/javascript" src="https://s3.amazonaws.com/tickettothecity/js/main.js"></script>
  <script type="text/javascript" src="https://s3.amazonaws.com/tickettothecity/js/ajax-mail.js"></script>
  <script type="text/javascript" src="https://s3.amazonaws.com/tickettothecity/js/accordion.settings.js"></script>
  <script type="text/javascript" src="https://s3.amazonaws.com/tickettothecity/js/jquery.elastislide.js"></script>
  <script type="text/javascript" src="https://s3.amazonaws.com/tickettothecity/js/jquery.eislideshow.js"></script>

  <!--Le google fonts-->
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,300' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'layouts/structure/header' %>


<section class="container">

  <div class="row-fluid">

    <div class="span3">
      <form method="post" action="" style="padding:0px; margin:0px;">
        <input type="hidden" name="search_content" value="yes" />
        <h4>Filter</h4>
        <hr>


        <div class="row-fluid">
          <h5>Area</h5>
          <div class="row-fluid">							<label class="checkbox"> <input type="checkbox" id="inlineCheckbox1" value="12"   name="chk1[]"> Uptown / Market Center							 </label>
            <label class="checkbox"> <input type="checkbox" id="inlineCheckbox1" value="13"   name="chk1[]"> Downtown							 </label>
            <label class="checkbox"> <input type="checkbox" id="inlineCheckbox1" value="24"   name="chk1[]"> Mid City / North Dallas							 </label>
            <label class="checkbox"> <input type="checkbox" id="inlineCheckbox1" value="25"   name="chk1[]"> Allen / Frisco / Plano							 </label>
            <label class="checkbox"> <input type="checkbox" id="inlineCheckbox1" value="30"   name="chk1[]"> Surrounding Areas							 </label>

          </div>
        </div>
        <div class="row-fluid">
          <h5>Cuisine</h5>
          <div class="row-fluid">					<label class="checkbox">
            <input type="checkbox" id="inlineCheckbox1" value="45"   name="chk2[]"> Additional					 </label>
            <label class="checkbox">
              <input type="checkbox" id="inlineCheckbox1" value="15"   name="chk2[]"> Italian					 </label>
            <label class="checkbox">
              <input type="checkbox" id="inlineCheckbox1" value="26"   name="chk2[]"> Mexican / Tex Mex					 </label>
            <label class="checkbox">
              <input type="checkbox" id="inlineCheckbox1" value="27"   name="chk2[]"> Pub / Sports Grill					 </label>
            <label class="checkbox">
              <input type="checkbox" id="inlineCheckbox1" value="28"   name="chk2[]"> Seafood					 </label>
            <label class="checkbox">
              <input type="checkbox" id="inlineCheckbox1" value="29"   name="chk2[]"> Sports Grill					 </label>
            <label class="checkbox">
              <input type="checkbox" id="inlineCheckbox1" value="34"   name="chk2[]"> Steak					 </label>
            <label class="checkbox">
              <input type="checkbox" id="inlineCheckbox1" value="41"   name="chk2[]"> Asian					 </label>
            <label class="checkbox">
              <input type="checkbox" id="inlineCheckbox1" value="42"   name="chk2[]"> BBQ					 </label>
            <label class="checkbox">
              <input type="checkbox" id="inlineCheckbox1" value="43"   name="chk2[]"> New American					 </label>
            <label class="checkbox">
              <input type="checkbox" id="inlineCheckbox1" value="44"   name="chk2[]"> Sports Grill / Pub					 </label>

          </div>
        </div>
        <div class="row-fluid">
          <h5>Features</h5>
          <div class="row-fluid">					<label class="checkbox">
            <input type="checkbox" id="inlineCheckbox1" value="57"   name="chk3[]"> Feature 1					 </label>
            <label class="checkbox">
              <input type="checkbox" id="inlineCheckbox1" value="58"   name="chk3[]"> Feature 2					 </label>
            <label class="checkbox">
              <input type="checkbox" id="inlineCheckbox1" value="59"   name="chk3[]"> Feature 3					 </label>

          </div>
        </div>


        <hr>
        <div class="row-fluid">
          <input type="submit"  class="btn btn-primary" value="Submit" style="height:30px;" />
          <input type="reset" class="btn" value="Clear"  style="height:30px;"/>
          <!--<input type="submit" class="btn" value="View Full Listing"  style="height:30px;"/> -->
          <!--<a href="#" class="btn btn-primary">Submit</a>
          <a href="#" class="btn">Clear</a> -->
        </div>
      </form>
    </div>



    <div class="span9 borderleft">
      <%= yield %>
    </div>


  </div>
</section>

<br>

<%= render 'layouts/structure/footer' %>
<%= render 'layouts/structure/footer-nav' %>

<script type="text/javascript">
    $(function() {
        $('#ei-slider').eislideshow({
            easing		: 'easeOutExpo',
            titleeasing	: 'easeOutExpo',
            titlespeed	: 1200
        });
    });
</script>
</body>
</html>
